@using LanguageTutor.Views.TutorMenu
@model PlayViewModel

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Tutor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name=" viewport" content="width=device-width" />
    <style>
        h1 {
        }

        body {
            background-image: url(/img/sea.jpg);
            background-repeat: no-repeat;
            background-size: cover; /* Путь к фоновому изображению */
            background-color: aliceblue; /* Цвет фона */
            flex-grow: 1;
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>

    <div class="jumbotron text-center">
        <h1>Изучаем иностранный вместе</h1>
        <p>Теперь понимаешь, насколько это легко?!</p>
    </div><br> <br><br><br> <br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="alert alert-success">
                    <p text-size="30px">Текущее слово: </p>
                    <br />
                    <h4 align="center" id="currentWord">@Model.Word</h4>
                    <br />
                </div>
            </div>

            <div class="col-sm-4">
                <h3 style="color:aliceblue">А сюда перевод:</h3>
                <div class="form-group">
                    <input autocomplete="off" value="" required autofocus type="text" name="UserAnswer" id="resultImputId" onkeypress="return keyPressEvent(event)" /><br />
                </div>
                <input type="button" id="nextWord" class="btn btn-success" value="Далее" OnClick="CheckAnswer()" />


                <br />
                <h4 id="GiveUpWord" style="color:aliceblue"></h4>
            </div>

            <div class="col-sm-1">
                <br><br><br><br><br>
                <h4 id="helpWord" style="color:aliceblue"></h4>
            </div>

            <div class="col-sm-3" align="left">
                <h4 style="color:aliceblue">Сложно?</h4>
                <p style="color:aliceblue" align="left"> Эти кнопки помогут вам вспомнить слова, ну или окончательно сдаться.</p>
                <input type="submit" class="btn btn-warning btn-block" value="Подсказка" name="help" OnClick="Help()" />
                <br>
                <form method="POST">
                    <input type="button" asp-page-handler="GiveUp" id="giveUpId" class="btn btn-danger btn-block" value="Cдаюсь!" OnClick="GiveUp()" />
                </form>
            </div>
        </div>
    </div> <br><br><br><br><br><br /><br>

    <div class="jumbotron text-center">
        <div class="container">
            <div class="row">

                <div class="col-sm-4" align="left">
                    <h6>
                        <span> Количество верных ответов :</span>
                        <span id="idCountRight">  @Model.SumRight</span>
                    </h6>
                </div>

                <div class="col-sm-4" align="left">
                    <h6>
                        <span> Количество неверных ответов :</span>
                        <span id="idCountError"> @Model.SumError</span>
                    </h6>
                </div>

                <div class="col-sm-1"></div>
                <div class="col-sm-3" align="right">
                    <a class="btn btn-light btn-block" href="~/TutorMenu">
                        >
                        Назад
                    </a>
                    <a class="btn btn-secondary btn-block" href="~/Index">
                        >
                        На главную
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>