
@using LanguageTutor.Pages
@using LanguageTutorService.ViewModels

@model TopicViewModel

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Выбор языка</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head> 

<body>
    <script>
        $(document).on("click", "#idLngSudmit", function CheckValidLang() {
            var lngFrom = $("#LngFrom").val();
            var lngTo = $("#LngTo").val();

            if (lngFrom != lngTo) {
                $('#idFormLng').submit();
            }
            else {
                document.getElementById('LngOptionError').innerHTML = "Выберете различные языки!";
            }
        });
    </script>
    <div class="jumbotron text-center" style="margin-bottom:0; background-color:#ced7d8 !important" align="center">
        <h1>Изучай, путешествуй, познавай</h1>
        <p>вместе с TutorLanguage</p>
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="background-color:#316879 !important; max-height:300px !important;">

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="~/TutorMenu/Main">Главная</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="~/TutorMenu/Account">Личный кабинет</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="~/TutorMenu/SelectLang" style="color: #fff">Начать изучение</a>
                </li>

                <li class="nav-item">
                    <a  class="nav-link" href="~/TutorMenu/OurContact">Контакты</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="jumbotron text-center" style="max-height:400px; vertical-align: middle">
        <h1>LanguageTutor - возможность узнать новое слово</h1>
        <div id="demo" class="carousel slide" data-ride="carousel" style="vertical-align: middle !important">

            <!-- Indicators -->
            <ul class="carousel-indicators" style="vertical-align: middle">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner" style="max-height:250px; vertical-align: middle" ;>
                <div class="carousel-item active " style="vertical-align: middle !important;">
                    <img src="~/img/lal.jpg" alt="Los Angeles">
                </div>
                <div class="carousel-item" style="position:center;">
                    <img src="~/img/Chic.jpg" alt="Chicago" style="vertical-align: middle !important;">
                </div>
                <div class="carousel-item">
                    <img src="~/img/nyg.jpg" alt="New York" style="vertical-align: middle !important;">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <div class="container">

        @using (Html.BeginForm("Start", "Tutor", FormMethod.Post, new { id = "idFormLng" }))
        {
            <div class="row">

                <div class="col-sm-3">
                    <h3>Выберете нативный язык</h3>
                    <p>(нативный язык- ваш родной язык)</p>
                    @Html.DropDownList("LngFrom", Html.GetEnumSelectList(typeof(Languages)), Languages.en)
                </div>

                <div class="col-sm-3">
                    <h3>Выберете изучаемый язык</h3>
                    <p> (который вы бы хотели изучить)</p> <br />
                    @Html.DropDownList("LngTo", Html.GetEnumSelectList(typeof(Languages)), Languages.ru)

                </div>
                <div class="col-sm-3">
                    <h3>Выберете тему изучения </h3>
                    <p> (Например: Семья)</p><br />
                    @Html.DropDownListFor(m => m.IdTopic, Model.TopicList, "Все темы")
                </div>

                <div class="col-sm-3">
                    <div class="alert alert-info">
                        <center><h3> Управление</h3></center><br />
                        <h4 id="LngOptionError" class="text-danger" style="color:aliceblue"></h4>

                        <input type="button" id="idLngSudmit" class="btn btn-primary btn-block" style="background-color:#316879; border-color:#316879" value="Старт" />

                        <a class="btn btn-primary btn-block" style="background-color:#316879; border-color:#316879" href="~/TutorMenu/Main">
                            Назад
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div>    <br /><br />    <br /><br /></div>
    <div class="col-sm-12"
         style="
        background-color: #316879;
        height: 80px;
        text-align: center;
        color: white;
        bottom:0;">
        <br />
        <p>© Nemtsov Veniamin, Russia 2020</p>
    </div>
</body>
</html>



